---
layout: default
---
<div class="whity">
    <!-- Main Content Starts Here -->
    <!-- Content should be encloased inside div with the class "posts" -->
    <div class="posts">
        <!-- Each entry should be enclosed inside div with the class "entry" -->
        <ul class="breadcrumb">
            <li>Category Archives </li>
            <li><a href="/app/categoriesries">All Categories</a></li>
        </ul>
        <div class="entry padd-zero">
            <div class="padd">
                <!-- Page title -->
                <h2 style="text-transform: capitalize">{{ page.category }}</h2>
                <!-- Page Para -->
                <p>Fusce imperdiet, risus eget viverra faucibus, diam mi vestibulum libero, ut vestibulum tellus magna nec enim. Nunc dapibus varius interdum. Phasellus at lorem ut lectus fermentum convallis. Aenean porta volutpat neque at suscipit. Quisque a mi velit, vel mollis sapien. Etiam vestibulum bibendum neque, at fermentum leo commodo et. Aenean pharetra, us varius suscipit pulvinar.</p>
            </div>
        </div>
    </div>

    <div class="row">
        {{content}}
    </div>
</div>
