---
layout: default
---

    <div class="whity content">
        <!-- Content should be encloased inside div with the class "posts" -->
        <div class="posts">
            <!-- Each entry should be enclosed inside div with the class "entry" -->
            <div class="entry">
                <div class="padd">
                    <!-- Entry title -->
                    <h2><a href="#">You may like this</a></h2>
                    <!-- Flex Slider -->
                    <div class="flexslider">
                        <!-- Slider. Replace below links with your image links. Use image size of 650x380. -->
                        <ul class="slides">
                            {% for category in site.categories %}
                                {% if category contains 'featured' %}
                                    {% for post in category[1] %}
                                        <li>
                                            <!-- Link to your picture -->
                                            <img src="{{post.banner}}" alt=""/>
                                            <!-- Caption. It not needed, simply delete the below line. -->
                                            <p class="flex-caption"><a href="{{post.url}}">{{ post.title }}</a></p>
                                        </li>
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                    {% include responsiveAd.html %}
                </div>
            </div>
            <!-- Features -->
            <div class="features">
                <!-- Default block header -->
                <div class="default-header">
                    <!-- Heading -->
                    <h2>Featured Posts</h2>
                    <hr /><!-- Small border -->
                    <span>from the desk of Pinal Bhatt</span>
                </div>
                <div class="row">
                    {% for category in site.categories %}
                    {% if category contains 'featured' %}
                    {% for post in category[1] %}
                    {% include postPagelet.html %}

                    {% endfor %}
                    {% endif %}
                    {% endfor %}



                </div>
            </div>
            <!-- Services -->
            <div class="service">
                <!-- Default block header -->
                <div class="default-header">
                    <!-- Heading -->
                    <h2>My Sites</h2>
                    <hr /><!-- Small border -->
                    <span>My sites and projects</span>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <div class="service-item">
                            <!-- Icon -->
                            <a href="#"><i class="fa fa-bolt"></i></a>
                            <!-- Heading -->
                            <h3>Mullah Laborious</h3>
                            <!-- Paragraph -->
                            <p>There is no one who loves pain itself, who seeks after it and ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="service-item">
                            <!-- Flat Icon Image -->
                            <a href="#"><i class="fa fa-briefcase"></i></a>
                            <!-- Heading -->
                            <h3>Layer Development</h3>
                            <!-- Paragraph -->
                            <p>There is no one who loves pain itself, who seeks after it and ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="service-item">
                            <!-- Flat Icon Image -->
                            <a href="#"><i class="fa fa-flask"></i></a>
                            <!-- Heading -->
                            <h3>Commode Sequent</h3>
                            <!-- Paragraph -->
                            <p>There is no one who loves pain itself, who seeks after it and ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Staffs -->
            <div class="about-new">
                <!-- Default block header -->
                <div class="default-header">
                    <!-- Heading -->
                    <h2>About Me</h2>
                    <hr /><!-- Small border -->
                    <span>Neque porro quisquam est qui dolorem ipsum quia dolor</span>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                       &nbsp;
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <!-- Staff #1 -->
                        <div class="staff">
                            <!-- Staff Picture -->
                            <div class="author"><img src="/imgs/logo/pbdesk/PBDesk.png" alt="" /></div>
                            <!-- Staff name and designation -->
                            <p class="name">Pinal Bhatt <span>Software Engineer</span></p>
                            <!-- Small para about staff -->
                            <p>Always on the learning ramp.</p>
                            <!-- Staff social profiles. Replace # with profile link. -->
                            <div class="social">
                                <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                                <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        &nbsp;
                    </div>
                </div>
            </div>
        </div>
    </div>


<!--






<div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts limit:15 %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>
  {% for cat in site.categories %}
  <div>
      {{ cat | first }}
    {{cat.name}} * {{cat.title}}
  </div>
  {% endfor %}
  <p class="rss-subscribe">subscribe <a href='{{ "/feed.xml" | prepend: site.baseurl }}'>via RSS</a></p>

</div>-->

