
<div class="sharepanel">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="padd spara">
                    <!-- Small para -->
                    <p>Follow me </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="padd">
                    <div class="social">
                        <a target="_blank" class="twitter" href="http://twitter.com/PBDesk" ><i class="fa fa-twitter"></i></a>
                        <a target="_blank" class="facebook" href="https://www.facebook.com/Go.PBDesk"><i class="fa fa-facebook"></i></a>
                        <a target="_blank" class="google-plus" href="https://plus.google.com/+Pbdesk" ><i class="fa fa-google-plus"></i></a>
                        <a target="_blank" class="linkedin" href="http://www.linkedin.com/in/pinalbhatt" ><i class="fa fa-linkedin"></i></a>
                        <a target="_blank" class="pinterest" href="https://github.com/PBDesk" ><i class="fa fa-github"></i></a>
                        <a target="_blank"  href="/feed.xml" ><i class="fa fa-rss"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<!-- Header -->

<!-- Fixed Bar -->

<div class="fixedbar">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="logo">
                    <div class="pull-left hidden-xs">
                        <!-- Logo with font awesome icon. Replace it with your logo. Replace # with your site link -->
                        <h1><a href="/">Pinal Bhatt's Blog</a><span class="small"> {{ site.tagline }}</span></h1>
                    </div>
                    <div class="pull-left visible-xs-block">
                        <!-- Logo with font awesome icon. Replace it with your logo. Replace # with your site link -->
                        <h2><a href="/">Pinal Bhatt's Blog</a></h2>
                    </div>

                </div>
                <div class="share">
                    <div class="pull-right visible-md-block visible-lg-block">
                        <!-- Share it link for slider -->
                        <p><a href="#" class="open"><span class="hidden-xs">follow me <i class="fa fa-share"></i></span></a></p>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
