<div class="row">
    <div class="col-md-4 col-sm-4">
        <div class="service-item">
            <p> <!--<a class="twitter-follow-button"
                   href="https://twitter.com/twitterdev"
                   data-show-count="false"
                   data-lang="en">
                Follow @twitterdev
            </a>-->
                <a class="twitter-share-button"
                   href="https://twitter.com/share">
                    Tweet
                </a></p>
        </div>
    </div>
    <div class="col-md-4 col-sm-4">
        <div class="service-item">
            <div class="fb-like" data-href="{{page.url | prepend: site.baseurl | prepend: site.url}}" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
        </div>
    </div>
    <div class="col-md-4 col-sm-4">
        <div class="service-item">
            <div class="g-plus" data-action="share"></div>
        </div>
    </div>
</div>