---
layout: default
---
<div class="whity">
    <!-- Main Content Starts Here -->
    <!-- Content should be encloased inside div with the class "posts" -->
    <div class="posts">
        <!-- Each entry should be enclosed inside div with the class "entry" -->
        <ul class="breadcrumb">
            <li>Category Archives </li>
            <li><a href="/categories">All Categories</a></li>
        </ul>
        <div class="entry padd-zero">
            <div class="padd">
                <!-- Page title -->
                <h2 style="text-transform: capitalize">{{ page.category }}</h2>
                <!-- Page Para -->
                <p>Fusce imperdiet, risus eget viverra faucibus, diam mi vestibulum libero, ut vestibulum tellus magna nec enim. Nunc dapibus varius interdum. Phasellus at lorem ut lectus fermentum convallis. Aenean porta volutpat neque at suscipit. Quisque a mi velit, vel mollis sapien. Etiam vestibulum bibendum neque, at fermentum leo commodo et. Aenean pharetra, us varius suscipit pulvinar.</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 col-sm-6">
            <!-- Features #1 -->
            <div class="features-item">
                <!-- Heading with font awesome icon -->
                <h4><i class="fa fa-heart"></i> Curability Budapest</h4>
                <!-- Para -->
                <p>Praesent elementum dignissim hendrerit. Etiam porta congue velit tristique. Duis vehicula, volutpat ultricies, felis consequat lacus, tincidunt odio lacus quis sem. Curabitur dapibus nibh id luctus. Nullam convallis metus nulla, id volutpat mauris. </p>
                <a href="#" class="btn btn-default">Read more</a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <!-- Features #2 -->
            <div class="features-item">
                <h4><i class="fa fa-group"></i> Present Concuss</h4>
                <p>Proin ac urna a urna bibendum adipiscing non pharetra nisi. Cras nec arcu leo, et tempor mi. Phasellus a elementum sem. In hac habitasse platea dictumst. Curabitur at gravida lorem. Praesent rhoncus arcu sem, a ultrices mauris. Fusce et urna ligulagy.</p>
                <a href="#" class="btn btn-default">Read more</a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <!-- Features #3 -->
            <div class="features-item">
                <h4><i class="fa fa-cloud"></i> Nascences Semen</h4>
                <p>Sed at elit urna, eu interdum mi. Maecenas sed diam dui, et vulputate lorem. Curabitur pretium, urna et gravida cursus, libero erat dapibus tortor, vel posuere sem. Cras blandit, arcu eget lobortis, risus egestas justo, eget molesti. Curable at gravida lorem.</p>
                <a href="#" class="btn btn-default">Read more</a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <!-- Features #4 -->
            <div class="features-item">
                <!-- Heading with font awesome icon -->
                <h4><i class="fa fa-trophy"></i> English Versions</h4>
                <!-- Para -->
                <p>Praesent elementum dignissim hendrerit. Etiam porta congue velit tristique. Duis vehicula, volutpat ultricies, felis consequat lacus, tincidunt odio lacus quis sem. Curabitur dapibus nibh id luctus. Nullam convallis metus nulla, id volutpat mauris. </p>
                <a href="#" class="btn btn-default">Read more</a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <!-- Features #5 -->
            <div class="features-item">
                <h4><i class="fa fa-video-camera"></i> Classical Latin</h4>
                <p>Proin ac urna a urna bibendum adipiscing non pharetra nisi. Cras nec arcu leo, et tempor mi. Phasellus a elementum sem. In hac habitasse platea dictumst. Curabitur at gravida lorem. Praesent rhoncus arcu sem, a ultrices mauris. Fusce et urna ligulagy.</p>
                <a href="#" class="btn btn-default">Read more</a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <!-- Features #6 -->
            <div class="features-item">
                <h4><i class="fa fa-pencil-square"></i> Randomised Words</h4>
                <p>Sed at elit urna, eu interdum mi. Maecenas sed diam dui, et vulputate lorem. Curabitur pretium, urna et gravida cursus, libero erat dapibus tortor, vel posuere sem. Cras blandit, arcu eget lobortis, risus egestas justo, eget molesti. Curable at gravida lorem.</p>
                <a href="#" class="btn btn-default">Read more</a>
            </div>
        </div>
    </div>
</div>
